/* compliance */
table.browser.compliance {
    tbody > tr > td {
        vertical-align: middle;
    }

    .rounds {
        overflow: hidden;
        white-space: pre;
    }
    
    td {
        span.fa-stack {
            font-size: .7em;
        }
        a { color: inherit; }
        &.answered { color: @brand-success !important;}
        &.missed { color: @brand-danger !important;}
        &.open { color: @brand-warning !important;}
        &.unknown { color: @brand-info;}
        &.waiting { color: darken(@brand-info, 20%) !important;}
        &.empty { color: @brand-danger !important;}
    }

    td.newRound, th.newRound {
        border-left-width: 3px;
    }

    td.round, th.round {
        text-align: center;
        width: 2em; 
        max-width: 2em;
        overflow: hidden;
        min-width: 2em;
    }
}
