/* headers */
header {
	.language-select {
		.language {
            opacity: 0.2;
            display: inline-block;
            width: 30px;
            height: 20px;
            color: transparent;
			&.en {
				background-image: url("@{image-dir}/locale/png/en-30.png");
			}
			&.nl {
				background-image: url("@{image-dir}/locale/png/nl-30.png");
			}
			&.de {
				background-image: url("@{image-dir}/locale/png/de-30.png");
			}
			&.fr {
				background-image: url("@{image-dir}/locale/png/fr-30.png");
			}
			&.it {
				background-image: url("@{image-dir}/locale/png/it-30.png");
			}
		}
		span.language {
			opacity: 1;
		}
		a.language:hover {
			opacity: 1;
		}
	}
}
