header {
	.language-select {
		.language {
            opacity: 0.2;
            display: inline-block;
            width: 30px;
            height: 20px;
            color: transparent;
			&.en {
				background-image: url(../images/en-30.png);
			}
			&.nl {
				background-image: url(../images/nl-30.png);
			}
		}
		span.language {
			opacity: 1;
		}
		a.language:hover {
			opacity: 1;
		}
	}
}